<h2>{{category?.title}}</h2>
<div class="row">
  <div class="col-md-6 col-lg-4">

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of items | async">
        <span class="list-item-name">{{item.title}}</span>
        <div>
          <button mat-button color="basic" (click)="this.showExerciseEditForm(item)">Edit</button>
          <button mat-button color="basic" (click)="this.deleteExercise(item)">Delete</button>
      </div>
      </li>
    </ul>

  </div>
  <div class="col-md-6 col-lg-4">
    <mat-form-field>
      <input matInput [(ngModel)]="exerciseName" placeholder="New name">
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml-2" (click)="this.addExercise()">Create</button>
  </div>
</div>
