$bg-color: #F0F3F4;

$header-bg-color: #3f51b5;
$text-color: #222F4B;
$text-color-secondary: #8CA6B7;

$header-color: #5383C2;
$link-color: #7d7e80;
$link-color-active: $header-color;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}
