
<div *ngIf="workout">

  <app-workout-header-navigation
  [model]="workout"
  class="text-center"
  (startTimeUpdate)="this.updateWorkoutStartDate()"
  >
</app-workout-header-navigation>

</div>

<div class="row">
  <div *ngIf="workout?.plan.length > 0; else addFirstExercise" class="col-12 workout-wrapper">

    <div class="category-entry mb-2 shadow bg-white rounded" *ngFor="let category of workout.plan; let categoryIndex = index">

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="pl-0" [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
            <mat-panel-title>
              <div class="col-10 d-flex align-items-center">
                <h5 class="d-flex align-items-center category-header">
                  <span class="d-flex align-items-center ml-2 mr-2">{{this.getCategoryNameById(category.category)}}</span>
                </h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="exercise-list pl-0 ml-0 mt-2">
            <ng-container *ngIf="category.exercises.length; else addExerciseMessage">
            <li class="exercise-entry mb-2 pt-2" *ngFor="let exercise of category.exercises; let exerciseIndex = index; trackBy:indexTracker;">
                <app-workout-exercise
                [exercise]="exercise"
                (exerciseDelete)="this.deleteExercise(categoryIndex, exerciseIndex)"
                (valueAdd)="this.addExerciseValue(exercise, $event)"
                (valueDelete)="this.deleteExerciseValue(exercise, $event)"
                (valueUpdate)="this.updateExerciseValue(categoryIndex, exerciseIndex, $event)">
                </app-workout-exercise>
            </li>
          </ng-container>

          <ng-template #addExerciseMessage>
              <span class="placeholder__message d-block mt-3">No exercises for this category yet</span>
            </ng-template>
          </ul>

          <button mat-raised-button color="primary" (click)="this.onShowExercisePicker(category)" class="mb-2">Add Exercise</button>
          <button mat-button [disabled]="category.exercises.length > 0" (click)="this.deleteCategory(categoryIndex)">Delete</button>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>

  <ng-template #addFirstExercise>
    <div class="col-12 d-flex text-center align-items-center justify-content-center mt-3 mb-3">
      <h5 class="placeholder__message">Start working out by adding a category</h5>
    </div>
  </ng-template>

  <app-workout-footer class="col-12 pl-0 pr-0"
    (showCategoryPicker)="this.onShowCategoryPicker()"
    (workoutSave)="this.saveWorkout($event)"
    (workoutDelete)="this.deleteWorkout()"
    (workoutSetStartDate)="this.updateWorkoutStartDate($event)"
    (workoutFinish)="this.finishWorkout($event)"
  ></app-workout-footer>

</div>
