@import '../../shared/scss/variables.scss';

ul {
  list-style: none;
}

.workout-wrapper {
  margin-bottom: 60px;
}
.workout-actions {
  margin-bottom: 80px;
}

.category-entry {
  overflow: hidden;
}
.category-header {
  color: #fff;
}


.mat-expansion-panel-body {
  background: #fff;
}





footer {
  z-index: 999; // material snackbar component has z-index of 1000 and would show under the footer
}
