@import '../../shared/scss/variables.scss';

ul {
  list-style: none;
}

input {
  width: 100px;
}

.category-entry {
  overflow: hidden;
}
.category-header {
  color: #fff;
}

.exercise-title {
  color: $header-color;
}

.mat-expansion-panel-body {
  background: #fff;
}
