
<div *ngIf="workout">
  <app-workout-header-navigation
  [model]="workout"
  class="text-center"
  (startTimeUpdate)="this.updateWorkoutDate('start')"
  >
</app-workout-header-navigation>

<!-- <button (click)="this.deleteWorkout()">Delete Workout</button> -->

</div>

<div class="row">
  <div *ngIf="workout?.plan" class="col-12 col-md-6">

    <div class="category-entry mb-2" *ngFor="let category of workout.plan; let categoryIndex = index">

      <h2>{{this.getCategoryNameById(category.category)}}
        <!-- <button mat-button (click)="this.deleteCategory(categoryIndex)">Delete</button> -->
      </h2>

      <ul class="exercise-list">

        <li class="exercise-entry" *ngFor="let exercise of category.exercises; let exerciseIndex = index">

          <div class="row">

              <div class="col-4">
                <!-- <button (click)="this.deleteExercise(categoryIndex, exerciseIndex)">Delete</button> -->
                <span>{{this.getExerciseNameById(exercise.exercise)}}</span>
              </div>

              <div class="col-8">
                <div class="row">
                  <div class="col-10">
                    <input *ngFor="let value of exercise.values; let valueIndex = index" class="mr-2" [value]="value" (blur)="this.updateValue(categoryIndex, exerciseIndex, valueIndex, $event.target.value)">
                  </div>
                  <div class="col-2">
                    <button (click)="this.addExerciseValue(exercise)" type="button">+</button>
                  </div>
                </div>
              </div>

          </div>
          <!-- /row -->

          </li>
        </ul>
      <button (click)="this.onShowExercisePicker(category)">Add Exercise</button>

    </div>
    <!-- End Category -->

    <div>
      <button (click)="this.onShowCategoryPicker()">Add Category</button>
      <p><button (click)="this.onCloseItemPicker()">Close</button></p>

      <p>Finish workout time:
        <input [value]="workout.finish | amDateFormat: 'YYYY-MM-DD HH:mm'" (blur)="this.updateWorkoutDate('finish', $event)">
      </p>

      <p><button (click)="this.saveWorkout()">Save Workout</button></p>
    </div>

    <div class="col-12 col-md-6" *ngIf="showExercisePicker">
      <app-item-selector
      [items]="itemPickerData"
      (itemSelected)="this.addExerciseToCategory($event)">
    </app-item-selector>
  </div>

  <div class="col-12 col-md-6" *ngIf="showCategoryPicker">
    <app-item-selector
    [items]="itemPickerData"
    (itemSelected)="this.addCategoryToPlan($event)">
  </app-item-selector>
</div>

</div>
