@import '../../shared/scss/variables.scss';

ul {
  list-style: none;
}

input {
  width: 100px;
}

.workout-actions {
  margin-bottom: 80px;
}

.category-entry {
  overflow: hidden;
}
.category-header {
  color: #fff;
}

.exercise-title {
  color: $header-color;
}

.mat-expansion-panel-body {
  background: #fff;
}

.form-field-actions {
  display: none;
  position: absolute;
  bottom: -30px;
  right: -20px;
  .mat-icon {
    fill: #ccc;
    &:hover {
      fill: $text-color;
    }
  }
  .mat-button {
    min-width: 30px;
  }
}

.mat-form-field:hover .form-field-actions {
// .mat-form-field:active .form-field-actions,
// .mat-form-field:focus .form-field-actions {

  display: flex;
}

// footer {
//   position: fixed;
//   bottom: 0;
// }
