<h2>
  <h2 *ngIf="workout">{{workout.start | amDateFormat:'ddd DD MMMM YYYY HH:mm:ss'}}</h2>
  <!-- <h2 *ngIf="workout">{{workout.start}}</h2> -->
</h2>

<div class="row">
  <div class="col-md-6">
    <div *ngIf="workout?.plan">

      <ul *ngFor="let category of workout.plan; let categoryIndex = index">

        <li>Category: {{this.getCategoryNameById(category.category)}} <button (click)="this.deleteCategory(categoryIndex)">Delete</button></li>

        <ul *ngFor="let exercise of category.exercises; let exerciseIndex = index">

          <li>Exercise: {{this.getExerciseNameById(exercise.exercise)}} <button (click)="this.deleteExercise(categoryIndex, exerciseIndex)">Delete</button></li>

          <ul *ngFor="let value of exercise.values; let valueIndex = index">
            <li><input [value]="value" (blur)="this.updateValue(categoryIndex, exerciseIndex, valueIndex, $event.target.value)"></li>
          </ul>

          <div class="col-md-12 col-lg-4">
            <button (click)="this.addExerciseValue(exercise)" type="button">Add Value</button>
          </div>

        </ul>
        <button (click)="this.onShowExercisePicker(category)">Add Exercise</button>
      </ul>
      <button (click)="this.onShowCategoryPicker()">Add Category</button>
      <p><button (click)="this.onCloseItemPicker()">Close</button></p>
      <p><button (click)="this.onEndWorkout()">End workout</button></p>
    </div>
  </div>

  <div class="col-md-6" *ngIf="showExercisePicker">
    <app-item-selector
    [items]="itemPickerData"
    (itemSelected)="this.addExerciseToCategory($event)">
  </app-item-selector>
  </div>

  <div class="col-md-6" *ngIf="showCategoryPicker">
    <app-item-selector
    [items]="itemPickerData"
    (itemSelected)="this.addCategoryToPlan($event)">
  </app-item-selector>
  </div>

</div>
