@import "./shared/scss/variables";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);

html, body {
  background-color: $bg-color;
}

body {
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $header-color;
  & > a {
    color: $header-color;
  }
}

// Various overridings of Bootstrap and Material styles
a, .card-title {
  color: $link-color;
  &:hover {
    color: $link-color-active;
  }
}

.card {
  background-color: $bg-color;
  border-color: darken($bg-color, 10%);
}

.mat-button, button {
  &:focus, &:active {
    outline: none;
  }
}

.mat-list-item-content {
  justify-content: space-between;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list-group-horizontal {
  flex-direction: row;
}

.placeholder__message {
  color: $text-color-secondary;
  font-style: italic;
}

.mat-accordion {

  .mat-expansion-panel-header,
  .mat-expansion-panel:not(.mat-expanded),
  .mat-expansion-panel:not(.mat-expanded):hover,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: mat-color($primary);
    color: #fff;
  }
}

.mat-expansion-panel-header {
  .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: #fff;
  }
}
