@import '~@angular/material/theming';
@import "../../shared/scss/variables.scss";

.mat-card {
  cursor: pointer;
  &:hover {
    @include mat-elevation-transition;
    @include mat-elevation(4);

    .mat-card-title {
      color: $link-color-active;
    }
  }
}

.mat-button {
  text-transform: uppercase;
}
