<div class="row">

  <!-- Previous Workout -->
  <div class="col-6">
    <div class="d-flex justify-content-start">
      <ng-container *ngIf="previousWorkout; else noPrevious">
        <div class="d-flex align-items-center">
          <mat-icon svgIcon="chevron-left"></mat-icon>
          <a [routerLink]="['/workouts', previousWorkout.id]">{{this.previousWorkout.start | amDateFormat:'ddd DD MMM'}}</a>
        </div>
      </ng-container>

      <ng-template #noPrevious>
        <span class="faded">Previous</span>
      </ng-template>
    </div>
  </div>


  <!-- Next Workout -->
  <div class="col-6 text-right">
    <ng-container *ngIf="nextWorkout; else noNext">
      <div class="d-flex align-items-center justify-content-end">
        <a [routerLink]="['/workouts', nextWorkout.id]">{{this.nextWorkout.start | amDateFormat:'ddd DD MMM'}}</a>
        <mat-icon svgIcon="chevron-right"></mat-icon>
      </div>
    </ng-container>

    <ng-template #noNext>
      <span class="faded mr-2">Next</span>
    </ng-template>
  </div>
</div>

<!-- Workout Date + Start time -->
<div class="row">
  <div class="col-12 text-center d-flex justify-content-center align-items-baseline">
    <div>
      <h5 class="mb-0">{{this.model.start | amDateFormat:'ddd DD MMM'}}</h5>
      <h6>
        <span>{{this.model.start | amDateFormat:'HH:mm'}}</span>
        <span *ngIf="this.model.finish"> - {{this.model.finish | amDateFormat:'HH:mm'}}</span>
      </h6>
  </div>
  <ng-content></ng-content>
  </div>
</div>
